# Copy this file to test/.env.local and `pnpm test` to run tests.
TEST_CLIENT_ID=your-client-id
TEST_CLIENT_SECRET=your-client-secret
TEST_ACCESS_TOKEN_URL=your-access-token-url
TEST_PRODUCT_ID=your-product-id
